body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
}
td {
  height: 25px;
  width: 60px;
  margin: 0;
  padding: 0;
  border: 0.5px solid gray;
}
tr{
  margin: 0;
  padding: 0;
}
table {
  border-spacing:0; 
  border-collapse: collapse;
}
.filled {
  height: 20px;
  width: 40px;
  background-color: rgb(142, 218, 244);
}
.wall {
  height: 20px;
  width: 40px;
  background-color: rgb(212, 243, 36);
}
#submit {
  display: block;
  margin-top: 1rem;
  background-color: rgb(47, 123, 47);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
}
#form-control {
  border-radius: 5px;
  width: 30%;
  padding: 5px 10px;
  border: 1px solid lightgray;
}
h1 {
  color: rgb(19, 88, 179);
}